*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
button{
    margin: 0;
    height: 40px;
    width: 20%;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
button:focus{
    outline: none;
    border: none;
}
/* start add action */
.to-do{
    width: 50%;
    /* height: 300px; */
    margin: 60px auto;
    text-align: center;
    padding: 20px 0 70px;
    border: 1px solid #ccbebe;
    box-shadow: 3px 3px 7px #969696;
    border-radius: 10px;
}
.to-do h1{
    margin-bottom: 40px;
    color: #494949;
}
/* .to-do form{
} */
.to-do form input{
    border: none;
    border-bottom: 2px solid #ccc;
    color: #494949;
    height: 40px;
    width: 60%;
    font-size: 1.2em;
    margin-right: 20px;
}
.to-do input:focus{
    outline: none;
    border-color: #ff0064;
}
.to-do form button{
    background-color: #008aff;
}
.to-do form button:hover{
    background-color: #0a64b1;
}
/* end add action */

/* start list */
.to-do-list{
    width: 50%;
    padding: 30px 20px;
    margin: 0 auto;
    border: 1px solid #ccbebe;
    box-shadow: 3px 3px 7px #969696;
    border-radius: 10px;
}
.to-do-list h2{
    margin-bottom: 50px;
    text-align: center;
}
#to-do-list__items{
    list-style: none;
}
.to-do-list__item{
    padding: 10px 0;
    margin-bottom: 15px;
    width: 100%;
    transition: all 0.5s ease-in-out;
}
.to-do-list__item span{
    display: inline-block;
    font-size: 1.8rem;
    width: 50%;
    border: none;
    border-bottom: 2px solid #ccc;
}
.to-do-list__item button{
    margin-left: 10px;
}
.deleteBtn{
    background-color: #ff0064;
}
.doneBtn{
    background-color: #52de52;
}
.deleteBtn:hover{
    background-color: #cf1962;
}
.doneBtn:hover{
    background-color: #41aa41;
}
/* end list */